*.egg
*.log
*.pyc
*.so
.DS_Store
._.DS_Store
.cache
.coverage*
.dbeaver
.eggs
.idea
.project
.pydevproject
.pytest_cache
.settings
.tox
__pycache__
build
config.py
docs/_build
duplicity-venv
duplicity.egg-info
duplicity.spec
filters.txt
htmlcov
po/duplicity.pot-e
random_seed
report.xml
testfiles
testing/gnupg/.gpg-v21-migrated
testing/gnupg/S.*
testing/gnupg/private-keys-v1.d
testing/manual/test_config.py
