##### basic requirements #####

fasteners
future
python-gettext


##### backend libraries #####


azure-storage-blob      ; python_version >= '3.6'
b2sdk                   ; python_version >= '3.6'
boto
boto3
boxsdk[jwt]             ; python_version >= '3.6'
dropbox
gdata                   ; python_version == '2.7'
gdata-python3           ; python_version >= '3.6'
google-api-python-client
google-auth-oauthlib
jottalib
keyring
mediafire
megatools               ; python_version >= '3.6'
paramiko
pexpect
psutil
pydrive                 ; python_version >= '3.6'
pydrive2                ; python_version >= '3.6'
pyrax                   ; python_version >= '3.6'
python-swiftclient
python-keystoneclient
requests
requests-oauthlib
